<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.syarihu.android.watchfacesample">

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.wearable.permission.RECEIVE_COMPLICATION_DATA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">
        <service
            android:name=".DigitalWatchFaceService"
            android:allowEmbedded="true"
            android:label="WatchFaceSample"
            android:permission="android.permission.BIND_WALLPAPER"
            android:taskAffinity="">
            <!-- companion configuration activity -->
            <meta-data
                android:name="com.google.android.wearable.watchface.companionConfigurationAction"
                android:value="net.syarihu.android.wearable.watchface.CONFIG_DIGITAL" />
            <meta-data
                android:name="android.service.wallpaper"
                android:resource="@xml/watch_face" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview"
                android:resource="@drawable/preview" />
            <meta-data
                android:name="com.google.android.wearable.watchface.preview_circular"
                android:resource="@drawable/preview_circular" />
            <meta-data
                android:name="com.google.android.wearable.watchface.wearableConfigurationAction"
                android:value="net.syarihu.android.watchfacesample.CONFIG_COMPLICATION" />

            <intent-filter>
                <action android:name="android.service.wallpaper.WallpaperService" />
                <category android:name="com.google.android.wearable.watchface.category.WATCH_FACE" />
            </intent-filter>
        </service>

        <service
            android:name=".NoDataProviderService"
            android:icon="@drawable/ic_none_24dp"
            android:label="@string/no_data"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="SHORT_TEXT,LONG_TEXT,SMALL_IMAGE,ICON,RANGED_VALUE,LARGE_IMAGE" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="0" />
        </service>
        <service
            android:name=".RangedValueProviderService"
            android:icon="@drawable/ic_donut_large_24dp"
            android:label="@string/ranged_value"
            android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter>
                <action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" />
            </intent-filter>

            <meta-data
                android:name="android.support.wearable.complications.SUPPORTED_TYPES"
                android:value="RANGED_VALUE" />
            <meta-data
                android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS"
                android:value="0" />
        </service>

        <activity android:name="android.support.wearable.complications.ComplicationHelperActivity" />
        <activity android:name=".ComplicationsConfigActivity">
            <intent-filter>
                <action android:name="net.syarihu.android.watchfacesample.CONFIG_COMPLICATION" />

                <category android:name="com.google.android.wearable.watchface.category.WEARABLE_CONFIGURATION" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <receiver android:name=".ComplicationReceiver" />

    </application>

</manifest>
